@model SIGA.Entities.Models.ItensFatura

@{
    ViewBag.Title = "Fatura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Atividade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fatura.IdFatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fatura.IdFatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalhes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolicitanteUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolicitanteUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFatura }) |
    @Html.ActionLink("Voltar", "Index")
</p>
