@using SIGA.Web.Helpers
@model IEnumerable<SIGA.Entities.Models.ItensContrato>

@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Itens do Contrato</strong>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Servico.Descricao)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>

            <th>
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span> Novo", "Add", "Create", "ItensContrato", routeValues: new { IdContrato = ViewBag.IdContrato }, htmlAttributes: new { data_modal = "", @class = "btn btn-xs btn-primary pull-right" })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Servico.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <div class="pull-right">
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "Edit", "ItensContrato", routeValues: new { id = item.IdItensContrato }, htmlAttributes: new { data_modal = "", @class = "btn btn-xs btn-default" })
                        &nbsp;
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Delete", "Delete", "ItensContrato", routeValues: new { id = item.IdItensContrato }, htmlAttributes: new { data_modal = "", @class = "btn btn-xs btn-danger" })

                    </div>

                </td>
            </tr>
        }

    </table>

</div>

@Scripts.Render("~/bundles/modalform")
