@using Microsoft.AspNet.Identity
@{
    var classe = new SIGA.Data.Business.OrdemServicoBusiness();
    int? existe = classe.VerificaSeExisteOSAberta(User.Identity.GetUserId());
}

<!DOCTYPE html>
<html ng-app>
<head>
    <title>@ViewBag.Title - SIGA</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-skins.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-rtl.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Gridmvc.css")" />

    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ace-extra.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.js")" type="text/javascript"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.0.6/angular-sanitize.js"></script>

    <script type="text/javascript">
        $(function () {
            $('[data-rel=tooltip]').tooltip();
            $('[data-rel=popover]').popover({ html: true });
            /*
            $(document).on("blur", "input.text-box", function () {
                $(this).val(function (i, val) {
                    var classe = this.getAttribute('class');
                    var num = classe.indexOf('cssusuario');
                    if (num == null || num <= 0) {
                        return val.toUpperCase();
                    }
                    else {
                        return val;
                    }
                }); */
            $(".text-box").on("blur", function () {
                if (!$(this).hasClass('cssusuario')) {
                    $(this).val(function (i, val) {
                        return val.toUpperCase();
                    });
                }
            });


        });

    </script>

</head>



<body class="no-skin">
    <div id="navbar" class="navbar navbar-default no-print">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="no-print navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <i class="fa fa-folder-open"></i>
                    @*SIGA - Sistema de Gestão Arquivística*@
                    <span class="white">SIGA</span>
                    <span class="white" id="id-text2"><strong>Web</strong></span>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li>
                        @if (User.IsInRole("Cliente"))
                        {
                            if (existe != null)
                            {
                                <a class="" href="@Url.Action("Index", "OrdemServicos", new { area = "SIGA", isGerenciarOS = false })" data-rel="tooltip" title="OS Abertas">
                                    <i class="ace-icon fa fa-bell icon-bell"></i>
                                    <span class="badge badge-grey">@existe</span>
                                </a>
                            }
                            else
                            {
                                <a class="" href="@Url.Action("Index", "OrdemServicos", new { area = "SIGA", isGerenciarOS = false })" data-rel="tooltip" title="OS Abertas">
                                    <i class="ace-icon fa fa-bell icon-bell"></i>
                                    <span class="badge badge-grey">@existe</span>
                                </a>
                            }
                        }
                        else if (User.IsInRole("Administrador"))
                        {
                            <a class="" href="@Url.Action("IndexAdministrarOSCliente", "OrdemServicos", new { area = "SIGA" })" data-rel="tooltip" title="OS Abertas">
                                <i class="ace-icon fa fa-bell icon-bell"></i>
                                <span class="badge badge-grey">@existe</span>
                            </a>
                        }
                    </li>
                    <li>
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img width="25" height="25" src="@Url.Content("~/Content/avatars/avatar2.png")">
                            <span class=" user-info">
                                <small>Bem-vindo,</small>
                                @User.Identity.GetUserName()
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="@Url.Action("EmConstrucao", "Util", new { area = "SIGA" })">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Configuração
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("EmConstrucao", "Util", new { area = "SIGA" })">
                                    <i class="ace-icon fa fa-user"></i>
                                    Perfil
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="@Url.Action("LogOff", "Account", new { area = "" })">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Sair
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <div id="sidebarPersonal" class="sidebar responsive compact no-print">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <i class="ace-icon fa fa-gears home-icon"></i>
                    <span class="h6">versão 1.0.0.17</span>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">

                <li class="hsub hover">
                    <a href="@Url.Action("Index", "Home", new { area = "" })" @*class="dropdown-toggle"*@>
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> Principal </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                </li>

                @if (User.IsInRole("Administrador") || User.IsInRole("Funcionário"))
                {
                    <li class="hsub hover">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-desktop"></i>
                            <span class="menu-text"> Cadastros </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="hover">
                                <a href="@Url.Action("Index", "Mantenedoras", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Mantenedora
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="hover">
                                <a href="@Url.Action("Index", "Clientes", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Cliente
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="hover">
                                <a href="@Url.Action("Index", "Setores", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Setores dos Clientes
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="hover">
                                <a href="@Url.Action("Index", "Galpoes", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Galpão
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="hover">
                                <a href="@Url.Action("Index", "GalpaoMantenedoras", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Galpão x Mantenedora
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="hover">
                                <a href="@Url.Action("Index", "EstruturasFisicas", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Estrutura Física
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador") || User.IsInRole("Funcionário"))
                {
                    <li class="hsub hover">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-file-o"></i>
                            <span class="menu-text">
                                Configuração Documento
                            </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">

                            <li class="hover">
                                <a href="@Url.Action("Index", "Descritores", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Descritor de Documentos
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="hover">
                                <a href="@Url.Action("Index", "TiposDocumentos", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Tipo de Documento
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="hover">
                                <a href="@Url.Action("Index", "ClientesTiposDocumentos", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Temporalidade
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="hover">
                                <a href="@Url.Action("Index", "Etiquetas", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Etiqueta Para Documentos
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="hover">
                                <a href="@Url.Action("EtiquetasCaixas", "Etiquetas", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Etiquetas Para Caixas
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador") || User.IsInRole("Funcionário") || User.IsInRole("Digitador"))
                {
                    <li class="hsub hover">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-folder-open-o"></i>

                            <span class="menu-text">
                                Documento
                            </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">

                            <li class="hover">
                                <a href="@Url.Action("PesquisaAvancada", "Documentos", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Pesquisa Avancada
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="hover">
                                <a href="@Url.Action("Index", "Documentos", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Pesquisa Genérica
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="hover">
                                <a href="@Url.Action("NovoDocumento", "Documentos", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Novo Documento
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="hover">
                                <a href="@Url.Action("Index", "DocumentosDigitais", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Documento Digital
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Cliente"))
                {
                    <li class="hsub hover">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-file-o"></i>
                            <span class="menu-text">
                                Arquivo
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="hover">
                                <a href="@Url.Action("Index", "Documentos", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Pesquisa de Documento
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                }

                @if (!User.IsInRole("Digitador"))
                {
                    <li class="hsub hover">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-pencil-square-o"></i>
                            <span class="menu-text"> OS </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            @if (User.IsInRole("Cliente"))
                            {
                                <li class="hover">
                                    <a href="@Url.Action("Index", "OrdemServicos", new {area = "SIGA", isGerenciarOS = false})">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Ordem de Serviço
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            }

                            <li class="hover">
                                <a href="@Url.Action("Index", "OrdemServicos", new {area = "SIGA", isGerenciarOS = true})">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Gerenciar OS dos Clientes
                                </a>

                                <b class="arrow"></b>
                            </li>

                            @if (User.IsInRole("Administrador"))
                            {
                                <li class="hover">
                                    <a href="@Url.Action("EmConstrucao", "Util", new { area = "SIGA" })">
                                        @*<a href="@Url.Action("DevolucaoOrdemServico", "OrdemServicos", new { area = "SIGA" })">*@
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Devolução de Ordem de Serviço
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                            }

                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador"))
                {
                    <li class="hsub hover">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-usd"></i>
                            <span class="menu-text"> Faturamento </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="hover">
                                <a href="@Url.Action("Index", "Servicos", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Serviços
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="hover">
                                <a href="@Url.Action("Index", "Contratos", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Contratos dos Clientes
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="hover">
                                <a href="@Url.Action("Index", "Faturas", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Faturas dos Clientes
                                </a>

                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador"))
                {
                    <li class="hsub hover">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-print"></i>
                            <span class="menu-text"> Relatório </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="hover">
                                <a href="@Url.Action("InventarioCliente", "Relatorios", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Inventário do Cliente
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="hover">
                                <a href="@Url.Action("Expurgo", "Relatorios", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Relatorio de Expurgo
                                </a>

                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador"))
                {
                    <li class="hsub hover">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-cog"></i>
                            <span class="menu-text"> Administração </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="hover">
                                <a href="@Url.Action("Index", "Usuarios", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Usuário
                                </a>

                                <b class="arrow"></b>
                            </li>


                            @*<li class="hover">
                                <a href="@Url.Action("Index", "Grupos", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Grupo
                                </a>

                                <b class="arrow"></b>
                                    </li>*@

                            @*<li class="hover">
                                <a href="@Url.Action("EmConstrucao", "Util", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Permissão
                                </a>

                                <b class="arrow"></b>
                                    </li>*@

                            @*<li class="hover">
                                <a href="@Url.Action("EmConstrucao", "Util", new { area = "SIGA" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Controle de Acesso
                                </a>

                                <b class="arrow"></b>
                                    </li>*@
                        </ul>
                    </li>
                }

            </ul><!-- /.nav-list -->

            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>

        <div class="main-content">

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        @RenderBody()
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <div class="footer no-print">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="red">SIGA</span>
                        <span class="grey" id="id-text2">Web</span>
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/Scripts/jquery.min.js'>" + "<" + "/script>");
    </script>

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/Scripts/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ace-elements.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ace.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.uteis.js")" type="text/javascript"></script>
</body>

@RenderSection("scripts", required: false)
</html>
