<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relatório @ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <link rel="stylesheet" href="@Url.Content("~/Content/css/ace-rtl.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Gridmvc.css")" />

</head>
<body>
    <div>
        <div style="max-width: 700px; padding: 10px">
            @RenderBody()
        </div>
    </div>
</body>

</html>
