@using SIGA.Web.Helpers
@model IEnumerable<SIGA.Entities.Models.ItemOrdemServico>

@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Documentos da OS</strong>
    </div>
    <table class="table">
        <tr>
            <th>
                Documento
            </th>
            @*<th>
                    Atendente
                </th>*@
            @if (!User.IsInRole("Cliente"))
            {
                <th>
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span> Novo", "Add", "Create", "ItemOrdemServicos", routeValues: new { IdOrdemServico = ViewBag.IdOrdemServico }, htmlAttributes: new { data_modal = "", @class = "btn btn-xs btn-primary pull-right" })
                </th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento.DescricaoDocumento)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.OrdemServico.AtendenteUserId)
                    </td>*@
                <td>
                    @if (!User.IsInRole("Cliente"))
                    {
                        <div class="pull-right">
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "Edit", "ItemOrdemServicos", routeValues: new {id = item.IdItemOrdemServico}, htmlAttributes: new {data_modal = "", @class = "btn btn-xs btn-default"})
                            &nbsp;
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Delete", "Delete", "ItemOrdemServicos", routeValues: new {id = item.IdItemOrdemServico}, htmlAttributes: new {data_modal = "", @class = "btn btn-xs btn-danger"})
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
</div>

@Scripts.Render("~/bundles/modalform")
