@model SIGA.Entities.Models.DocumentoDigital

@{
    ViewBag.Title = "Documento Digital";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Tem certeza que deseja excluir este registro?</h3>
<div>
    <h4>Documento Digital</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Documento.DescricaoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento.DescricaoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arquivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arquivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
