@using GridMvc.Html
@model IEnumerable<SIGA.Entities.Models.Setor>

@{
    ViewBag.Title = "Setor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var url = Url.Content("~/SIGA/Clientes/CarregaListaDeCliente");
}
<script type="text/javascript">
    $(function () {
        $("#idMantenedora").change(function () {
            var elements = "";
            if ($(this).val() == '') {
                elements = '<option value="">[ Cliente ]</option>';
                $('#idCliente').empty().attr('disabled', true).append(elements);
                return;
            }
            $.ajax({
                url: '@url',
                type: 'POST',
                data: { idMantenedora: $(this).val() },
                datatype: 'json',
                success: function (data) {
                    elements = '<option value="">[ Cliente ]</option>';
                    $.each(data, function () {
                        elements = elements + '<option value="' + this.IdCliente + '">' + this.NomeCliente + '</option>';
                    });
                    $('#idCliente').empty().attr('disabled', false).append(elements);
                }
            });
        });

        if ($("#idMantenedora option:selected").val() != "") {
            $("#idCliente").prop("disabled", false);
        }
    });

</script>
<div class="">
    <p class="widget-title">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Create")">
            Criar Novo
            <i class="ace-icon fa fa-file-o icon-on-right bigger-110">
            </i>
        </a>
    </p>
</div>
@using (Html.BeginForm())
{
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">Pesquisar Setores</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <form class="form-inline">
                    <div class="col-xs-6 col-sm-6">
                        @Html.DropDownList("IdMantenedora", null, "[ Mantenedora ]", htmlAttributes: new { @class = "form-control", @id = "idMantenedora" })
                    </div>
                    <div class="col-xs-6 col-sm-5">
                        @Html.DropDownList("IdCliente", null, "[ Cliente ]", htmlAttributes: new { @class = "form-control", @id = "idCliente", @disabled = "disabled" })
                    </div>
                    <input type="submit" value="Pesquisar" class="btn btn-info btn-sm" />
                </form>
            </div>
            @Html.Grid(Model).SetLanguage("pt-br").Columns(g =>
                    {
                        g.Add(n => n.NomeSetor).Titled("Setor").SetWidth(450);
                        g.Add(n => n.Cliente.NomeCliente).Titled("Cliente");
                        g.Add(n => n.SiglaSetor).Titled("Sigla").SetWidth(100);
                        g.Add()
                            .Css("action-buttons")
                            .SetWidth(100)
                            .Titled("Ação")
                            .Encoded(false)
                            .Sanitized(false)
                            .RenderValueAs(p =>
                                @Html.ActionLink(" ", "Details", new { id = p.IdSetor }, new { @class = "blue ace-icon fa fa-search-plus bigger-140", @title = "Visualizar" }).ToHtmlString() +
                                @Html.ActionLink(" ", "Edit", new { id = p.IdSetor }, new { @class = "green ace-icon fa fa-pencil bigger-140", @title = "Editar" }).ToHtmlString() +
                                @Html.ActionLink(" ", "Delete", new { id = p.IdSetor }, new { @class = "red ace-icon fa fa-trash-o bigger-140", @title = "Excluir" }).ToHtmlString());

                    }).WithPaging(50).Sortable(true).Filterable(true).Selectable(false)
        </div>
    </div>
}
